

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

  img {
    width: 30%;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    }


    .rotate{
      transform:rotateZ(90deg);
    }


  html {
    height: 100%
  }

.container {
display: grid;

}

.center{
  text-align: center;
}

.suppliesList {
  margin: 20px;
  text-align: left;
  background-color: #2CAECC;

    padding: 40px;
    font-family: 'Pacifico', cursive;
    box-shadow: 22px 2px 17px 5px #0B3C4C;
    box-shadow: 22px 2px 17px 5px #0B3C4C;
}

.suppliesList li{
  margin: 10px 0 10px 0;
  list-style-type: square;
  /* list-style-image: url("paintbrush.png"); */

}

  body {
    height: 100%;
   margin: 0;  /*removes default style*/
   display: flex;  /*enables flex content for its children*/
   flex-direction: column;
   box-sizing: border-box;
   font-family: 'Pacifico', cursive;
   background: #468898;
   }


/* nav {
    height: 100%;
    font-family: 'Pacifico', cursive;
    dispaly: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
} */
  header {
  }

  .main-nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    font-size: 2em;
    text-transform: capitalize;
    color: white;
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #468898 ; */
    background: #777;
  }

li a {
  display: block;
  color: black;
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:  #0ED8EA;
}

main {
  /* min-height: 400px;
  min-width: 400px; */
  background: #468898;
  padding: 40px 20px;
  border-radius: 5px;

}


h1 {
  background-color: #468898;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

h2 {
  background-color: #2CAECC;
  text-align: center;
  padding: 40px;
  font-family: 'Pacifico', cursive;
  box-shadow: 22px 2px 17px 5px #0B3C4C;
box-shadow: 22px 2px 17px 5px #0B3C4C;
}

h3 {
  background-color:  #468898;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

h4{
  background-color:  #468898;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

h5 {
  background-color:  #468898;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

h6{
  background-color:  #468898;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

ul {
    font-family: 'Pacifico', cursive;
}

p {
    font-family: 'Pacifico', cursive;
}

footer {
  font-family: 'Pacifico', cursive;
  margin-top: 10px;
}

@media only screen and (max-width:800px) {
  body {
    height: 100%;
    width:90%;
   margin: 0px;  /*removes default style*/
   display: flex;  /*enables flex content for its children*/
   flex-direction: column;
   box-sizing: border-box;
   font-family: 'Pacifico', cursive;
   background: #468898;
   }
}

@media only screen and (max-width:500px) {
  body {
    height: 100%;
    width:90%;
   margin: 0px;  /*removes default style*/
   display: flex;  /*enables flex content for its children*/
   flex-direction: column;
   box-sizing: border-box;
   font-family: 'Pacifico', cursive;
   background: #468898;
   }
}
